.footer {
    width: 100%;
    flotat: left;
    font-size: 20px;
    height: 1rem;
    margin-top: 1em;
    padding: 20px 10px;
    background-color: white;
    color: black;
}

.footer p {
    font-size: 12px;
}
